* {
    box-sizing: border-box;
  }

  p , h2 , b , h1 , a {
    color: white;
  }
  
  h1 {
    font-style: italic;
    font-size: 50px;
  }

  html {
    scroll-behavior: smooth;
    background-color: black;
  }
  body {
    margin-left: 15%;
    margin-right: 15%;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
    box-shadow: 0 0 100px 0 white;
    border-radius: 5%;
   
  }

  .header {
    max-width: 1440px;
    margin: 0  auto;
    display: flex;
  }

  .myphoto {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 40px;
  }

  .myname {
  
   padding-left: 100px;
  }

  .comunicacion {
    padding-top: 20px;
    line-height: 10px;
  }

  .edukacia {
    display: flex;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    
  }

  .lor1 {
    width: 200px;
    height: 100px;
    border: 1px solid white;
    margin-right: auto;
    margin-bottom: 10px;

  }

  .lor2 {
    width: 200px;
    height: 100px;
    border: 1px solid white;
    margin-right: auto;
  }

  .lor3 {
    width: 200px;
    height: 100px;
    border: 1px solid white;
    
  }

   h2 {
    text-align: center;
  }

  h3 {
    color: white;
  }

